* {
  font-family: lato;
  background-color: black;
  color: white;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

.red {
  background-color: rgba(255, 0, 0, 0.644);
  cursor: default;
  border: none;
}
.green {
  background-color: rgba(88, 233, 88, 0.575);
  cursor: default;
  border-width: 0px;
}
.question {
  font-size: 2rem;
  margin: 2rem 20rem;
}
.question-title {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
button {
  border: none;
  padding: 0.75rem 2rem;
}
.option {
  display: block;
  font-size: 1rem;
  border: 1px solid white;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
